cramjam==2.9.1
pyasn1==0.4.8
datamol==0.12.5
ConfigArgParse==1.4
async-lru==2.0.4
ply==3.11
ipython==9.1.0
lightgbm==4.6.0
biopython==1.84
biopython==1.85
rfc3339-validator==0.1.4
pydantic_core==2.33.2
appnope==0.1.3
executing==0.8.3
mrcfile==1.5.4
Pygments==2.19.1
pynndescent==0.5.4
pandas==2.2.3
selfies==2.2.0
tomli==2.2.1
pandera==0.24.0
llvmlite==0.44.0
decorator==5.1.1
sip==6.12.0
typing_extensions==4.14.0
typing_extensions==4.12.2
traitlets==5.14.3
rdkit==2024.9.6
rdkit==2025.3.4
nest-asyncio==1.6.0
torch_cluster==1.6.3
pre-commit==3.4.0
pytest-cov==6.0.0
intake-parquet==0.3.0
SQLAlchemy==2.0.39
kiwisolver==1.4.8
jsonschema-specifications==2023.7.1
pandocfilters==1.5.0
multidict==6.1.0
ptyprocess==0.7.0
mdurl==0.1.0
prometheus_client==0.21.1
pmapper==1.1.3
unicodedata2==15.1.0
lxml==5.3.0
scipy==1.13.1
scipy==1.15.3
mmtf-python==1.1.3
GitPython==3.1.43
toml==0.10.2
gcsfs==2025.3.2
fonttools==4.55.3
splito==0.1.4
pillow==11.2.1
plotly==6.0.1
parso==0.8.4
webencodings==0.5.1
colorama==0.4.6
crc32c==2.7.1
json5==0.9.25
tinycss2==1.4.0
astartes==1.3.1
PyQt5==5.15.11
pytng==0.0.0
xarray==2024.11.0
google-cloud-core==2.4.3
opt_einsum==3.4.0
gemmi==0.6.5
python-json-logger==3.2.1
pydata-google-auth==1.9.1
aiohttp==3.11.10
defusedxml==0.7.1
typer==0.9.0
stack-data==0.2.0
requests==2.32.3
frozenlist==1.5.0
openpyxl==3.1.5
dnspython==2.7.0
cachetools==5.5.1
py4j==0.10.9.7
blinker==1.9.0
chembl-structure-pipeline==1.2.2
wrapt==1.17.0
hyperopt==0.2.7
sympy==1.13.3
tidynamics==1.1.2
GridDataFormats==1.0.2
fsspec==2025.3.2
networkx==3.4.2
protobuf==5.29.5
protobuf==4.25.3
gitdb==4.0.7
tabpfn-extensions==0.0.4
pyasn1-modules==0.2.8
zarr==3.0.5
jenkspy==0.4.1
certifi==2025.6.15
python-pptx==1.0.2
s3fs==2025.3.2
jedi==0.19.2
modelcif==1.2
joblib==1.4.2
botocore==1.36.3
pytest==8.4.1
typing-inspect==0.9.0
einx==0.3.0
pytorch-lightning==2.5.0
pytorch-lightning==2.5.0.post0
overrides==7.4.0
google-cloud-bigquery==3.34.0
yarl==1.18.0
itsdangerous==2.2.0
pytz==2024.1
annotated-types==0.6.0
PySocks==1.7.1
numba==0.61.2
patsy==1.0.1
pyedr==0.8.0
tabpfn==2.0.9
pyarrow==17.0.0
jupyter_client==8.6.3
distlib==0.3.8
rich==13.9.4
asttokens==3.0.0
google-resumable-media==2.7.2
tqdm==4.67.1
psutil==5.9.0
urllib3==2.3.0
scikit-learn==1.6.1
future==1.0.0
boto3==1.36.3
execnet==2.1.1
click==8.1.8
click==8.1.7
typing-inspection==0.4.0
ukkonen==1.0.1
argon2-cffi==21.3.0
tzdata==2025.2
ipython_pygments_lexers==1.1.1
pyzmq==26.2.0
grpcio-status==1.71.2
typer-slim==0.16.0
jupyter_server==2.15.0
lark==1.2.2
narwhals==1.31.0
cairocffi==1.7.1
httpcore==1.0.9
CairoSVG==2.8.2
markdown-it-py==2.2.0
cssselect2==0.2.1
medchem==2.0.5
msgpack==1.1.1
pydantic-settings==2.6.1
cffi==1.17.1
jsonschema==4.23.0
google-crc32c==1.6.0
codecov==2.1.11
nbformat==5.10.4
aioitertools==0.7.1
ase==3.25.0
comm==0.2.1
mhfp==1.9.6
xgboost==3.0.1
jaxtyping==0.3.2
appdirs==1.4.4
python-dotenv==1.1.0
beartype==0.21.0
PyJWT==2.10.1
threadpoolctl==3.5.0
oauthlib==3.2.2
setproctitle==1.2.2
ihm==2.6
mordredcommunity==2.0.6
cached-property==1.5.2
padelpy==0.1.16
pycparser==2.21
Werkzeug==3.1.3
openadmet-toolkit==0.0.0+87.gb193a42
wandb==0.18.7
wandb==0.20.1
jupyter_core==5.7.2
pure-eval==0.2.2
torch_sparse==0.6.18
torchmetrics==1.2.1
nbconvert==7.16.6
tmtools==0.2.0
pyparsing==3.2.0
openadmet-models==0.0.0+263.gd42e5e1
jmespath==1.0.1
torch-geometric==2.6.1
google-cloud-storage==3.1.0
soupsieve==2.5
prompt-toolkit==3.0.43
cycler==0.11.0
chardet==4.0.0
numcodecs==0.14.1
pandas-gbq==0.29.1
pymol==3.1.0
huggingface_hub==0.31.2
jupyter-lsp==2.2.5
descriptastorus==2.7.0
cryptography==44.0.1
phx-class-registry==5.1.1
nbclient==0.10.2
h11==0.16.0
aiobotocore==2.19.0
nodeenv==1.9.1
iniconfig==1.1.1
matplotlib-inline==0.1.6
reportlab==4.4.1
freetype-py==2.3.0
matplotlib==3.10.0
terminado==0.17.1
modAL-python==0.4.2.1
einops==0.8.0
einops==0.8.1
cfgv==3.4.0
python-dateutil==2.9.0.post0
mpmath==1.3.0
jupyterlab_pygments==0.3.0
chemprop==2.2.0
fastparquet==2024.11.0
fastjsonschema==2.20.0
packaging==24.2
gmpy2==2.2.1
charset-normalizer==3.3.2
Bottleneck==1.4.2
shellingham==1.5.0
antlr4-python3-runtime==4.9.3
identify==2.5.5
Brotli==1.0.9
jupyter-events==0.12.0
torch_scatter==2.1.2
grpcio==1.73.1
babel==2.16.0
platformdirs==4.3.7
chembl-downloader==0.5.1
jupyterlab_server==2.27.3
coverage==7.6.9
google-auth-oauthlib==1.2.1
XlsxWriter==3.2.3
pexpect==4.8.0
pyOpenSSL==25.0.0
smmap==4.0.0
multiprocess==0.70.15
idna==3.7
gsd==3.4.2
Jinja2==3.1.6
aimsim==2.2.2
wheel==0.45.1
tornado==6.5.1
umap-learn==0.5.8
pluggy==1.5.0
dill==0.3.8
google-auth==2.38.0
rsa==4.7.2
statsmodels==0.14.4
pydantic==2.11.7
mtenn==0.0.0+458.gf9c1583
dm-tree==0.1.8
pip==25.1
cloudpickle==3.1.1
h5py==3.13.0
wcwidth==0.2.5
importlib_resources==6.4.0
mashumaro==3.14
netCDF4==1.7.2
PyQt5_sip==12.17.0
docker-pycreds==0.4.0
rfc3986-validator==0.1.1
contourpy==1.3.1
google-api-core==2.24.2
loguru==0.7.2
numexpr==2.10.1
referencing==0.30.2
Flask==3.1.0
propcache==0.3.1
pycairo==1.23.0
typeguard==4.4.4
argon2-cffi-bindings==21.2.0
Send2Trash==1.8.2
pandas_flavor==0.7.0
rlPyCairo==0.2.0
e3nn==0.5.6
darkdetect==0.8.0
PyYAML==6.0.2
httpx==0.28.1
donfig==0.8.1.post1
molfeat==0.10.1
torch==2.3.1
rpds-py==0.22.3
MDAnalysis==2.9.0
attrs==24.3.0
anyio==4.7.0
sniffio==1.3.0
more-click==0.1.2
fairscale==0.4.13
setuptools==72.1.0
email_validator==2.2.0
numpy==2.2.5
et-xmlfile==1.1.0
antipickle==0.2.0
lightning==2.5.0.post0
mistune==3.1.2
jupyterlab==4.3.4
types-requests==2.32.4.20250611
duckdb==1.2.1
jupyter_server_terminals==0.5.3
aiosignal==1.2.0
bleach==6.2.0
lightning-utilities==0.11.9
skorch==1.1.0
googleapis-common-protos==1.69.2
beautifulsoup4==4.12.3
aiohappyeyeballs==2.4.4
hydra-core==1.3.2
ipykernel==6.29.5
intake==2.0.8
s3transfer==0.11.2
Pmw==2.0.1
frozendict==2.4.6
filelock==3.17.0
mda_xdrlib==0.2.0
wadler_lindig==0.1.7
debugpy==1.8.11
eval_type_backport==0.2.2
db-dtypes==1.4.3
boltz==2.0.3
pystow==0.7.1
omegaconf==2.3.0
virtualenv==20.28.0
pytest-xdist==3.6.1
mypy_extensions==1.1.0
seaborn==0.12.2
six==1.17.0
chai_lab==0.6.1
requests-oauthlib==2.0.0
proto-plus==1.26.1
greenlet==3.1.1
opt_einsum_fx==0.1.4
cftime==1.6.4
wget==3.2
tabulate==0.9.0
notebook_shim==0.2.4
sentry-sdk==2.18.0
websocket-client==1.8.0
MarkupSafe==3.0.2
